.sustainable-image img{
    width: 100%;
}
.sustainable{
    padding-top: 140px;
}
.sustainable-text{
    border-right: 1px solid #C8B78A;
    padding-right: 67px;
}
.sustainable-image{
    padding-left: 66px;

}
.pdf-btn{
    text-align: left;
}
.sustainable-image-title{
    margin-bottom: 5px;
    padding-top: 30px;
}
.pdf-btn::after{
    content: "\2913";
    font-size: 15px;
    padding-left: 10px;
}

/* ---------------------------------------------media query ----------------------------------------------- */

@media (max-width:992px){
    .sustainable-image{
        padding-left:0;
        padding-top: 50px;
    }
    .sustainable-text{
        border: none;
        padding-right: 0;
    }
}